# Depot = le site des prototypes, rien d'autre (liste blanche).
/*
!/.gitignore
!/.dockerignore
!/Dockerfile
!/index.html
!/base/
!/commun/
!/documents/
!/variante-13/
!/variante-14/
!/variante-15/
!/variante-16/
!/variante-17/
# Du dossier outils, seul le petit serveur du site est publie.
!/outils/
/outils/*
!/outils/serveur.py
